* {
    margin: 0;
    padding: 0;
}
section {
    display: grid;
}
p{
    font-family: 'Times New Roman';
    text-align: justify;
    line-height: 1.5;
}
.active-a{
    text-decoration:underline;
}
.nav-title{
    text-align: center;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    position: sticky;
    top: 10px;
    padding-bottom: 15px;
    z-index: 20;
}
nav a{
    width: 20vw;
    background: #fff;
    text-align: center;
    padding:  1rem;
    font-size: 1.5rem;
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    background: linear-gradient(to right, #fff, rgb(245, 245, 245), rgb(240, 240, 240));
    transition: all 350ms ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.link[href]:hover{
    color: rgb(30, 130, 255);
    box-shadow: 0 -2px 0 #000;
    -webkit-text-stroke: 0.7px rgba(30, 130, 255, 0.8);
}
.img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}
.page-main img{
    width: 85%;
}
.page-main{
    font-size: 1.25rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-main h3{
    padding: 10px 0px;
    font-size: 1.75rem;
}
figcaption{
    color: rgb(100, 100, 100);
    width: 90%;
    text-align: center;
}
.text-block{
    padding-bottom: 8px;
}
.footer-text{
    text-align: center;
    background-color: rgb(225, 225, 225);
    font-size: 1.3rem;
}
@media (max-width: 360px){

}
@media (min-width: 480px) and (max-width: 767px){
    
}
@media (min-width: 768px) and (max-width: 991px){
    
}
@media (min-width: 992px) and (max-width: 1199px){
    body{
        background-color: rgb(225, 225, 225);
    }
    nav a{
        font-size: 1.25rem;
    }
    div{
        background-color: #fff;
    }
    nav{
        background-color: #fff;
    }
    .page-main{
        margin: 10px 17vw auto;
    }
    .page-main-div{
        padding: 0 20px;
    }
}
@media (min-width: 1200px){
    body{
        background-color: rgb(225, 225, 225);
    }
    div{
        background-color: #fff;
    }
    nav{
        background-color: #fff;
    }
    .page-main{
        margin: 10px 23vw auto;
    }
    .page-main-div{
        padding: 0 20px;
    }
}